AccessModifierOffset: -4
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: false
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 100
IndentWidth: 4
Language: Cpp
NamespaceIndentation: All
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
#activeProgramOK.Subscribe( *this );
#true means above
#I like no space
SpacesInParentheses: false
SpaceBeforeAssignmentOperators: true
Standard: Cpp03
UseTab: Never
PointerAlignment: Left
SortIncludes: false
